html { height: 100%; }

body{
	background-color: #fff;
	color: #757575 !important;
	margin:0px 0px; 
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
	
	background: url(../img/header.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #272727;
}

main{
	min-width: 100% !important;
}

/***************
	NAV BAR
***************/

#navbar-main {
	background-color: rgba(0,0,0, 0.2);
	position: relative;
	z-index: 1000;
	margin-top: -100px;
	padding-top: 20px;
	height: 100px;
	/*border-radius: 30px 30px 0 0;*/
		
	-webkit-transition: 0.3s background-color ease-out;
    -moz-transition: 0.3s background-color ease-out;
    transition: 0.3s background-color ease-out;
}

#navbar-main.stick {
	position: fixed;
	margin-top: 0 !important;
	top: 0;
	background-color: rgba(0,0,0, 0.6);
}

#navbar-main-logo {
	opacity: 0;
	
	-webkit-transition: 0.1s all ease-out;
    -moz-transition: 0.1s all ease-out;
    transition: 0.1s all ease-out;
}

#navbar-main-logo.showlogo {
	opacity: 1;
}

#navbar-main li a:hover {
	background-color: transparent !important;
}

#ddSmallDevice {
	margin-top: 3px !important;
	background-color: rgba(0,0,0, 0.2);
}

#ddSmallDevice.ddBackground {
	margin-top: 3px !important;
	background-color: rgba(0,0,0, 0.6) !important;
}

.nav-dropdown-mobile {
	width: 100% !important;
}

.nav-center {
	margin: 0 auto;
	width: 70%;
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
	  /* IPAD PRO PORTRAIT */
	.nav-center {
		width: 90%;
	}
}

.nav-center ul {
    text-align: center;
}
.nav-center ul li {
    display: inline;
    float: none;
}
.nav-center ul li a {
    display: inline-block;
}

#nav-links{
	margin-top: -1px;
	
	-webkit-transition: 0.2s all ease-out;
    -moz-transition: 0.2s all ease-out;
    transition: 0.2s all ease-out;
}

#nav-links.go-up {
	margin-top: -100px;
}

#social-links {
	padding-top: 9px;
	margin-top: 0vh;
	position: absolute;
	top: 0;
	z-index: 10000;
	width: 50%;
}

#social-links li a:hover {
	background-color: transparent !important;
}

/************* 
	HEADER 
*************/
#header-container{
	background-size:cover;
	position:relative;
	height:100vh;
}

.header{
	position:absolute;
	top:50%;
	width:100%;
	color:#fff;
	font-size: 2em;
	-ms-transform: translate(0,-50%); /* IE 9 */
	-webkit-transform: translate(0,-50%); /* Safari */
	transform: translate(0,-50%);  

}

.header-text{
	border-left: 5px dotted white;
	border-right: 5px dotted white;
}

.go-down-link {
	position: relative;
}

@media only screen and (min-width: 993px) {
	/* LARGE */
	.go-down-link {
		margin-top: 500px;
	}
}

@media only screen and (max-width: 992px) {
	/* MED */
	.go-down-link {
		margin-top: 700px;
	}
}

@media only screen and (max-width: 600px) {
	/* SMALL */
	.go-down-link {
		margin-top: 500px;
	}
}

/***************
	PORT IMG 
***************/
.port-img-hide {
	margin: 0 !important;
	opacity: 0;
	-webkit-transition: 1s all ease-out;
    -moz-transition: 1s all ease-out;
    transition: 1s all ease-out;
}

.port-img-show {
	opacity: 1;
}

.port-img{
	padding: 0px !important;
	background-color: #fff;
	max-width: 100%;
	height: 100vh;
}

.port-img a {
	opacity: 0;
	display: block;
	min-width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
}

.port-img a:hover {
	opacity: 1;
}

.port-img-hover span {
	display:inline-block;
	width:100%;
	height:100%;
	border: 1px solid rgba(255,255,255,0.5);
}

.port-img-hover span p{
	opacity: 0.9;
	color: #fff;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: bold;
	
	position: relative;
	top: 45%;
	transform: translateY(-45%);
}

.description {
	font-size: 0.55em !important;
}

@media only screen and (max-width: 992px) {
	/* MED DOWN */
	.port-img a {
		opacity: 1;
		background-color: rgba(0,0,0,0.1);
	}
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
	  /* IPAD PRO PORTRAIT */
	.port-img a {
		opacity: 1;
		background-color: rgba(0,0,0,0.1);
	}
}

.port-img-1{
	height: 80vh;
	background: url('../img/photography/1.jpg') 50% 90% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.port-img-2{
	height: 40vh;
	background: url('../img/photography/2.jpg') 50% 0% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.port-img-3{
	height: 40vh;
	background: url('../img/photography/3.jpg') 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.port-img-4{
	height: 60vh;
	background: url('../img/photography/4.jpg') 50% 80% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.port-img-5{
	height: 50vh;
	background: url('../img/photography/5.jpg') 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.port-img-6{
	height: 50vh;
	background: url('../img/photography/6.jpg') 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.port-img-7{
	height: 30vh;
	background: url('../img/photography/7.jpg') 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.port-img-8{
	height: 30vh;
	background: url('../img/photography/8.jpg') 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.port-img-9{
	height: 60vh;
	background: url('../img/photography/9.jpg') 50% 30% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/**************
	PRICING
**************/
@media only screen and (max-width: 600px) {
	/* SMALL */
	.pricing{
		padding-bottom: 50px;
	}
}

/**************
  GALLERY SPEC
***************/
.gallery {
	
}
.gallery-header  {
	letter-spacing: 5px;
	text-transform: uppercase;
}
.gallery-header span {
	font-size: 0.8em;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.gallery-body {
	padding: 20px;
    text-align: justify;
    text-justify: inter-word;
}


/**************
	ABOUT
**************/
.team{
	margin-top: 100px;
	margin-bottom: 10px;
}

.team-header{
	font-family: Pecita;
	padding-bottom: 5px;
	border-bottom: 2px dashed #dcdcdc;
	color: #3d3d3d;
	background: linear-gradient(#fafafa, white)
}

.team-image{
	margin-top: -80px;
	width: 50%;
	border: 5px solid #fff;
}

.team-content{
	padding: 15px;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	
	-webkit-transition: 1s all ease-out;
    -moz-transition: 1s all ease-out;
    transition: 1s all ease-out;
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
	  /* IPAD PRO PORTRAIT */
	.team-content{
		max-height: 300px;
		opacity: 1;
		overflow: hidden;
		
		-webkit-transition: 1s all ease-out;
		-moz-transition: 1s all ease-out;
		transition: 1s all ease-out;
	}
}

.show-team{
	max-height: 300px;
	opacity: 1;
	
}

.team-content span{
	font-family: Eminenz;
	font-size: 1em;
	color: #606060;
	font-weight: bold;
}

/**************
	IG FEED
**************/
.ig-image{
	height: 50vh;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/***************
	CONTACT
***************/
.contact-title{
	font-size: 1.3em;
	font-weight: bold;
}

.contact-content{
	margin-top: 20px;
	min-height: 250px;
	padding-bottom: 20px;
}

@media only screen and (min-width: 993px) {
	/* LARGE */
	.contact-border{
		border-right: 2px dashed #c8c8c8;
	}
	.get-in-touch{
		width: 20% !important;
	}
}
@media only screen and (max-width: 600px) {
	/* SMALL */
	.contact-content{
		margin-top: 20px;
		min-height: 100%;
		padding-bottom: 20px;
	}
	
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
	  /* IPAD PRO PORTRAIT */
	.contact-border{
		border-right: 0px dashed #c8c8c8;
	}
}

#ss-contact{
	padding-top: 10px;
	padding-bottom: 10px;
}

#footer{
	padding-top: 50px;
}

.footer-copyright{
	border-top: 2px dashed #e1e1e1;
}

.copyright-text{
	padding-top: 13px;
}

.social-foot{
	font-size: 2em;
	padding: 0 10px 0 10px;
	color: #898989;
}

/***************
   GOOGLE MAPS
***************/

#googlemap {
	height: 250px;
	width: 100%;
}

/***************
	UTILITIES 
***************/
@font-face {
	font-family: Eminenz;
	src: url('../fonts/eminenz.ttf');
}

@font-face {
	font-family: Pecita;
	src: url('../fonts/Pecita.otf');
}

@font-face {
	font-family: Open Sans;
	src: url('../fonts/OpenSans-Regular.ttf');
}

blockquote{
  border-left: 5px solid #8fa98e; /* line color */
}


#ss-gallery{
/*
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;*/
}

.parallax-container {
	padding-top: 50px;
	width: 100%;
	height: 80vh;
}

@media only screen and (min-width: 993px) {
	/* LARGE */
	.parallax-container {
		height: 80vh;
	}
}

@media only screen and (max-width: 992px) {
	/* MED */
	.parallax-container {
		height: 50vh;
	}
}

@media only screen and (max-width: 600px) {
	/* SMALL */
	.parallax-container {
		height: 225vh;
		background-color: #fff !important;
	}
}

.no-margin{
	margin: 0 !important;
}

.no-padding{
	padding: 0 !important;
}

.card .card-image .card-title {
	padding: 0px 10px 10px 10px;
}
.card .card-image .card-title .card-title-bg{
	padding: 5px;
	background-color: rgba(0,0,0, 0.3);
}

@media only screen and (max-width: 800px) {
  .hide-on-below-800px {
    display: none !important;
  }
  
  .show-on-below-800px {
    display: block !important;
  }
  
  .show-on-above-800px {
    display: block !important;
  }
  
  .hide-on-above-800px {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
    .center-when-small {
        text-align: center;
    }
}

.greeny{
	background-color: #8fa98e !important;
}

.greeny-text {
	color: #8fa98e !important;
	
	-webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
}

.greeny-text:hover {
	color: #f9c0af !important;
}

a{
	color: #757575 !important;
	-webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
}

a:hover{
	color: #8fa98e !important;
	
	-webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
}

.body-link {
	color: #757575 !important;
	border-bottom: 3px red wavy;
}
