html { height: 100%; }

body{
	background-color: #fff;
	color: #757575 !important;
	margin:0px 0px; 
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
	
	background: url(../img/index-header.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #272727;
}

main{
	min-width: 100% !important;
}


/************* 
	HEADER 
*************/
#header-container{
	background-size:cover;
	position:relative;
	height:100vh;
}

.header{
	position:absolute;
	top:50%;
	width:100%;
	color:#fff;
	font-size: 2em;
	-ms-transform: translate(0,-50%); /* IE 9 */
	-webkit-transform: translate(0,-50%); /* Safari */
	transform: translate(0,-50%);  

}

