html{
	overflow-x: hidden;
}


body{
	background-color: #fff;
	color: #757575 !important;
	margin:0px 0px; 
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
	
	background: url(../img/wallp.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #272727;
}

/***************
	NAV BAR
***************/

#navbar-main {
	background-color: rgba(255,255,255, 0.95);
	position: fixed;
	margin-top: -60px;
	z-index: 10000;
	
	-webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
}

#navbar-main.stick {
	position: fixed;
	margin-top: 0px;
	z-index: 10000;
	
	-webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
}

#social-links {
	margin-top: 0vh;
	position: absolute;
	top: 0;
	z-index: 10000;
	width: 95%;
}

/************* 
	HEADER 
*************/
#header-container{
	background-size:cover;
	position:relative;
	height:100vh;
}

.header{
	position:absolute;
	top:50%;
	width:100%;
	color:#fff;
	font-size: 2em;
	-ms-transform: translate(0,-50%); /* IE 9 */
	-webkit-transform: translate(0,-50%); /* Safari */
	transform: translate(0,-50%);  

}

.header-text{
	border-left: 5px dotted white;
	border-right: 5px dotted white;
}

a{
	-webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
}

a:hover{
	color: #8fa98e !important;
	
	-webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
}

.body-link {
	color: #757575 !important;
	border-bottom: 3px red wavy;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.go-down-link {
	position: relative;
	margin-top: -125px;
}



.content{
	min-height: 200vh;
}

.active{
	
}