html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body:after{
    content:"";
    position:fixed; 
    top:0;
    height:100vh; 
    left:0;
    right:0;
    z-index:-1;
}

body{
    width: 100%;
	overflow-x:hidden;
    -ms-overflow-style:none;
    padding-bottom: 0;
    background: url('') 50% 45% no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-color: white;
    position: relative;
}

/* NAV BAR */
#mainnav {
	position: fixed;
    width: 100%;
	margin-top: 0 !important;
	top: 0 !important;
	z-index: 10000;
    background-color: rgba(0,0,0,0.5);
    color: white;
	transition: all 0.5s ease-in-out;
}

#mainnav.shownav{
    background-color: rgba(255,255,255,0.95);
}

#mainnav.hidenav{
    background-color: rgba(0,0,0,0.5);
}

.under-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.under-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.under-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.hero{
    min-height: 100vh;
}

.fill-parent {
	position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.font-quicksand{
    font-family: 'Quicksand', sans-serif;
}

.font-bebas{
    font-family: 'Bebas Regular';
}

@font-face {
	font-family: 'Bebas Regular';
	src: url('fonts/BebasNeue-Regular.otf') format('opentype'); /* IE9 Compat Modes */
	src: url('fonts/BebasNeue-Regular.otf?#iefix') format('opentype'), /* IE6-IE8 */
		 url('fonts/BebasNeue-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

.carousel-caption{
    background-color: rgba(4, 11, 18, 0.80);
    border-radius: 5px;
}

.carousel-img img{
    width: 100%;
}

.card img{
    image-orientation: from-image;
}

